<!DOCTYPE html>
<html>
<body>
  <form action="/vendor/upload?dishname=<%=dishname%>" method="post" enctype="multipart/form-data">
    <h1>请为菜品 “<%=dishname%>” 选择新的宣传图</h1>
    <input type="file" name="file">
    <input type="submit" value="上传">
  </form>
</body>
</html>