<!DOCTYPE html>
<html>
<body>
  <form action="/user/upload" method="post" enctype="multipart/form-data">
    <h1>请选择您要上传的新头像</h1>
    <input type="file" name="file">
    <input type="submit" value="上传">
  </form>
</body>
</html>